<div ng-controller="indexCtrl">

  <h3><%= t('topPhotos') %></h3>
  <div class="top-photos">
    <div ng-repeat="photo in photos" class="top-container">
      <div class="top-photo">
        <a ng-href="/users/{{photo.user_id}}"><img ng-src="{{photo.url}}"/></a>
      </div>
      <div class="rating">
        <p><%= t('users.show.rating') %> : {{photo.rating}}</p>
      </div>
    </div>
    <div class="top-container">
      <div class="tagcloud">
        <ng-tag-cloud cloud-width="200" cloud-height="200" cloud-data="data"></ng-tag-cloud>
      </div>
      <div class="rating">
        <p><%= t('tagCloud') %></p>
      </div>
    </div>
  </div>

</div>
