// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.register {
  display: flex;
}

ul.register li img {
  height: 64px;
  width: 64px;
}

ul.register li {
  margin: 10px 15px;
  text-align: center;
}