// Place all the styles related to the users controller here.
// They will automatically be included in application.scss.erb.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "ng-sortable/dist/ng-sortable.min";
@import "slick-carousel/slick/slick.css";

.edit-form {
  width: 60%;
  margin: auto;
}

.image-container{
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.image-container img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}

.avatar-container {
  padding: 5px;
  border: 1px solid #ccc;
  width: 40%;
  height: auto;
  overflow: hidden;
}

.avatar-container img {
  object-position: center;
  width: 100%;
  height: auto;
}

.avatar-container > .modal-content {
  padding: 0;
}

#avatar-modal > h2 {
  margin: 15px 0 0 15px;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-info {
  width: 50%;
  margin: auto;
}

.profile-info p {
  font-size: 1.4rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery, .gallery-container {
  width: 100%;
  padding: 10px 15px;
}

.gallery-image {
  width: 100%;
}

.modal {
  height: 80% !important;
  max-height: 80% !important;
  width: 80% !important;
  overflow: visible !important;
}

.modal-content {
  display: flex;
  height: 100%;
}

.modal-image {
  height: 100%;
  width: 100%;
}

.modal-image img {
  height: 100%;
  max-width: 100%;

}

.gallery-image img {
  width: 100%;
  height: auto;
}

.modal-comments {
  flex-basis: 450px;
  overflow-y: scroll;
}

.modal-toolbar {
  position: fixed;
  bottom: -75px;
  left: 140px;
  background-color: #eceff1;
  padding: 10px 20px;
  width: 70%;
}

.modal-toolbar > div {
  margin: 10px;
}

.btn-rating {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  border: none;
}

.gallery-image-container {
  width: 24%;
  height: 200px;
  padding: 10px 0 10px 10px;
  overflow: hidden;
  float: left;
}

#avatar {
  cursor: pointer;
}

.avatar-variant {
  cursor: pointer;
}

.photo-cell {
  width: 25%;
}

.row {
  width: 100%;
}

.carousel.carousel-slider {
  height: 600px !important;
}

.slideshow {
  width: 100%;

}

slick {
  width: 100%;
}

.slick-slide img {
  margin: auto;
  height: 500px;
}

.search-params {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  background-color: #FAFAFA;
  padding: 15px;
  width: 250px;
}

.username a {
  color: #444;
}

.limit {
  width: 100px!important;
  text-align: center;
}

input[type=number] {
  height: 25px!important;
  margin: 0 0 5px 0!important;
}

[type="checkbox"] + label {
  width: 100px;
}

.user-edit {
  display: flex;
  flex-direction: row;
}

.user-edit > form {
  width: 100%;
}

.user-edit > .avatar-container {
  border: none;
}

.preferences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.preference {
  display: block;
  margin: 10px;
  padding: 3px;
}

#profiletab {
  display: flex;
}

.btn {
  background-color: #78909c !important;
}

.btn:hover {
  background-color: #b0bec5 !important;
}