<form action="<%= accounts_path %>" method="post">
  <label for="account_email">Email</label>
  <input type="email" name="account[email]" id="account_email">

  <label for="account_password">Password</label>
  <input type="password" name="account[password]" id="account_password">

  <input type="submit">
</form>